{{> head}}

{{> navBar}}

<div class="row">
    <div class="col-8">
        <h1>casi termino express</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At earum laborum eligendi incidunt consequatur iure praesentium quas reprehenderit corporis tenetur quia distinctio in ex nisi asperiores, minus odit voluptates. Illum?</p>
    </div>
    <div class="col-4">
        <h2>    Jake bugg !!  </h2>
  <img src="assets/imgs/bottom.jpg" class="img-thumbnail" alt="" width="200" height="200">
    </div>


</div>


{{> footer}}